body {
    margin: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing:border-box;
}
.container-one {
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    padding-top: 10px;
}
.under-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.left-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}
.left-subtext, a{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}
.title{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
}
.bar {
    height: 400px;
    width: 800px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 0 0%;
    height: 400px;
    gap: 10px;
}
.sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 12px;
}
.info {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-top: 50px;
    color: #1f2937;
}
.info-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    
    padding-bottom: 50px;
}
.info-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}
.info-pic {
    height: 200px;
    width: 200px;
    border: 6px solid #3882f6;
    border-radius: 12px;
}
.drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}
.drink-title {
    font-size: 20px;
    font-weight: 600;
}
.quote-container {
    display: flex;
    flex-direction: column;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #E5E7EB;
    color: #1f2937;
}
.quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    
}
.quote-author {
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}
.call {
    color:#F9FAF8;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.modal{
    background-color: #3882f6;
    border-radius: 12px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.call-text{
    font-size: 20px;
}
.sign-up-inverse{
    color: #F9FAF8;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 12px;
}
